<div class="plugin-aod-time-entry">

	<div class="label">Quantity Run</div>
	<input type="text"><br>

	<div class="label">Scrapped</div>
	<input type="text"><br>

	<div class="label">Total</div>
	<input type="text"><br>

	<br>
	<%= link_to "Submit", 
		{ :controller => "plugin_aod_time_entry", 
		  :action => "index" },
		{ :class => "submit-button" } %>
</div>