<div class="plugin-aod-time-entry">

  <!-- Header -->
  <h3>AoD Time Entry</h3> 
  <br>
  
  <!-- Content -->
  <div class="label">Quantity Run</div>
	<input type="number"><br>

	<div class="label">Scrapped</div>
	<input type="number"><br>

	<div class="label">Total</div>
	<input type="number"><br>

	<br>
	<%= link_to "Submit", plugin_aod_time_entry_index_path, class: "submit-button" %>

</div>