<div class="plugin-aod-time-entry">

  <!-- Header -->
  <h3>AoD Time Entry</h3> 
  <br>
  
  <!-- Content -->
	<%= link_to "Start", plugin_aod_time_entry_start_path, class: "start-button" %>
	<div class="v-spacer"></div>
	<%= link_to "End", plugin_aod_time_entry_end_path, class: "end-button" %>

</div>
