<div class="plugin-aod-time-entry">

	<%= link_to "Start", 
		{ :controller => 'plugin_aod_time_entry', 
		  :action =>'start' }, 
        { :class => "start-button" } %>

	<div class="v-spacer"></div>
	<div class="v-spacer"></div>

	<%= link_to "End", 
		{ :controller => 'plugin_aod_time_entry', 
		  :action =>'end' }, 
        { :class => "end-button" } %>

</div>
