<div class="plugin-aod-time-entry">
	<h3>AoD Time Entry</h3>

	<section>
		<div class="column-1">
			<div class="label">Work Order</div>
			<select>
				<option value="1">Work Order #1</option>
				<option value="2">Work Order #2</option>
				<option value="3">Work Order #3</option>
				<option value="4">Work Order #4</option>
				<option value="5">Work Order #5</option>
				<option value="6">Work Order #6</option>
				<option value="7">Work Order #7</option>
				<option value="8">Work Order #8</option>
				<option value="9">Work Order #9</option>
			</select>
			<div class="v-spacer"></div>
			<div class="label">Sequence</div>
			<select>
				<option value="1">Sequence #1</option>
				<option value="2">Sequence #2</option>
				<option value="3">Sequence #3</option>
				<option value="4">Sequence #4</option>
				<option value="5">Sequence #5</option>
				<option value="6">Sequence #6</option>
				<option value="7">Sequence #7</option>
				<option value="8">Sequence #8</option>
				<option value="9">Sequence #9</option>
			</select>
			<div class="v-spacer"></div>
		</div>

		<div class="column-2">
			<div class="start-button">Start</div> 
		</div>
	</section>

	<div class="v-spacer-big"></div>

	<section>
		<div class="column-1">
			<div class="label">Quantity Run</div>
			<input type="text"><br>

			<div class="label">Scrapped</div>
			<input type="text"><br>

			<div class="label">Total</div>
			<input type="text"><br>
		</div>

		<div class="column-2">
			<div class="end-button">End</div> 
		</div>
	</section>
</div>
