<h3>Welcome to the new Time Equipment Company Portal</h3>
<p>
	If you are a returning user, click Sign In in the menu above. <br>
	Otherwise, feel free to click Sign Up to gain access to the Portal.
</p>
