<div id="legend">
  <h4>Legend</h4>
  <table>
    <tr><td class="event">Event Schedule</td></tr>
    <tr><td class="projectwork">Project Work</td></tr>
    <tr><td class="housekeeping">Housekeeping</td></tr>
    <tr><td class="daycleaning">Day Cleaning</td></tr>
    <tr><td class="supervision">Supervision</td></tr>
    <tr><td class="overlap">Overlapping Schedules</td></tr>
    <tr><td class="overlimit">Over 29 hrs/wk</td></tr>
  </table>
</div>