<div id="legend">
  <h4>Legend</h4>
  <table>
    <tr><td class="name">Housekeeping</td></tr>
    <tr><td class="transfer name">Customer Transfer</td></tr>
    <tr><td class="projectwork name">Project Work</td></tr>
    <tr><td class="housekeeping name">Housekeeping</td></tr>
    <tr><td class="daycleaning name">Day Cleaning</td></tr>
    <tr><td class="supervision name">Supervision</td></tr>
    <tr><td class="overlap name">Overlapping Schedules</td></tr>
    <tr><td class="overlimit name">Over 29 hrs/wk</td></tr>
  </table>
</div>