<div id="sched-popup">
  <div>
    <%= label_tag :start_time %>
    <%= text_field_tag :start_time %>
  </div>
  <div>
    <%= label_tag :end_time %>
    <%= text_field_tag :end_time %>
  </div>
  <br>
  <div id='save-btn' class="button right">Save</div>
  <div id='close-btn' class="button right">Cancel</div>
</div>