<div class="plugin-service-master">  

  <!-- Header -->
  <h3>Service Master</h3> 
  <% if current_user.customer_admin? %>
    <%= link_to "Settings", plugin_service_master_settings_path, class: "settings-btn" %>
  <% end %>
  
  <!-- Content -->
  <%= render "shared/spinner" %>
  <table>
    <thead>
      <tr> <!-- Table header -->
        <th class="outside"></th>
        <th class="name">Name</td>
        <th class="cust">Customer</td>
        <th class="sched">Monday</br>01/06</td>
        <th class="sched">Tuesday</br>01/07</td>
        <th class="sched">Wednesday</br>01/08</td>
        <th class="sched">Thursday</br>01/09</td>
        <th class="sched">Friday</br>01/12</td>
        <th class="sched">Saturday</br>01/11</td>
        <th class="custtotal">Cust.</br>Total</td>
        <th class="emptotal">Emp.</br>Total</td>
        <th class="outside"></th>
      </tr>
    </thead>
    <tbody>
      <tr class="newemp"> <!-- New employee -->
        <td class="addsched outside" rowspan=2></td>
        <td class="name" rowspan=2>Fillup Adams</td>
        <td class="cust">FTB Germantown</td>
        <td class="sched">5 - 7:30</td>
        <td class="sched"></td>
        <td class="sched">5 - 7:30</td>
        <td class="sched"></td>
        <td class="sched">5 - 7:30</td>
        <td class="sched">5 - 7:30</td>
        <td class="custtotal">9.00</td>
        <td class="emptotal" rowspan=2>12.75</td>
        <td class="overlimit outside" rowspan=2></td>
      </tr>
      <tr>
        <td class="name">FTB Kirby Woods</td>
        <td class="sched">7:30 - 8:45</td>
        <td class="sched"></td>
        <td class="sched">7:30 - 8:45</td>
        <td class="sched"></td>
        <td class="sched">7:30 - 8:45</td>
        <td class="sched">7:30 - 8:45</td>
        <td class="custtotal">3.75</td>
      </tr>
      <tr class="newemp"> <!-- New employee -->
        <td class="addsched outside" rowspan=4></td>
        <td class="name"rowspan=4>Joseph Adolph</td>
        <td class="cust">TNB Arlington</td>
        <td class="sched">4 - 5:15</td>
        <td class="sched">4 - 5:15</td>
        <td class="sched">4 - 5:15</td>
        <td class="sched">4 - 5:15</td>
        <td class="sched">4 - 5:15</td>
        <td class="sched"></td>
        <td class="custtotal">6.25</td>
        <td class="emptotal overlimit" rowspan=4>30.00</td>
        <td class="outside overlimit" rowspan=4>Over limit!</td>
      </tr>
      <tr>
        <td class="cust">TNB Bartlett</td>
        <td class="sched">5:15 - 7</td>
        <td class="sched">5:15 - 7</td>
        <td class="sched">5:15 - 7</td>
        <td class="sched">5:15 - 7</td>
        <td class="sched">5:15 - 7</td>
        <td class="sched"></td>
        <td class="custtotal">8.75</td>
      </tr>
      <tr>
        <td class="cust">TNB Lakeland</td>
        <td class="sched">7 - 7:45</td>
        <td class="sched">7 - 7:45</td>
        <td class="sched">7 - 7:45</td>
        <td class="sched">7 - 7:45</td>
        <td class="sched">7 - 7:45</td>
        <td class="sched"></td>
        <td class="custtotal">3.75</td>
      </tr>
      <tr>
        <td class="cust">TNB N. Houston Levee</td>
        <td class="sched">7:45 - 9:30</td>
        <td class="sched">7:45 - 9:30</td>
        <td class="sched">7:45 - 9:30</td>
        <td class="sched">7:45 - 9:30</td>
        <td class="sched">7:45 - 9:30</td>
        <td class="sched"></td>
        <td class="custtotal">6.25</td>
      </tr>
      <tr>
        <td class="addsched outside" rowspan=3></td>
        <td class="name" rowspan=3>David Alexander</td>
        <td class="cust">Bank TN W. Poplar</td>
        <td class="sched">4 - 6:30</td>
        <td class="sched"></td>
        <td class="sched">4 - 6:30</td>
        <td class="sched"></td>
        <td class="sched">4 - 6:30</td>
        <td class="sched"></td>
        <td class="custtotal">7.50</td>
        <td class="emptotal" rowspan=3>17.25</td>
        <td class="overlimit outside" rowspan=3></td>
      </tr>
      <tr>
        <td class="name">FTB Collierville</td>
        <td class="sched">6:30 - 8</td>
        <td class="sched"></td>
        <td class="sched">6:30 - 8</td>
        <td class="sched"></td>
        <td class="sched">6:30 - 8</td>
        <td class="sched projspec">6:30 - 8</td>
        <td class="custtotal">6.00</td>
      </tr>
      <tr>
        <td class="name">TNB Lakeland</td>
        <td class="sched">7 - 7:45</td>
        <td class="sched">7 - 7:45</td>
        <td class="sched">7 - 7:45</td>
        <td class="sched">7 - 7:45</td>
        <td class="sched">7 - 7:45</td>
        <td class="sched"></td>
        <td class="custtotal">3.75</td>
      </tr>
        
      <tr class="newemp"> <!-- New employee -->
        <td class="addsched outside" rowspan=4></td>
        <td class="name"rowspan=4>William Alexander</td>
        <td class="cust">FTB Farmington</td>
        <td class="sched">4 - 5</td>
        <td class="sched"></td>
        <td class="sched">4 - 5</td>
        <td class="sched"></td>
        <td class="sched">4 - 5</td>
        <td class="sched"></td>
        <td class="custtotal">3.00</td>
        <td class="emptotal overlimit" rowspan=4>29.00</td>
        <td class="outside overlimit" rowspan=4>Over limit!</td>
      </tr>
      <tr>
        <td class="cust">TNB Germantown M.</td>
        <td class="sched">5 - 6</td>
        <td class="sched">5 - 6</td>
        <td class="sched">5 - 6</td>
        <td class="sched">5 - 6</td>
        <td class="sched">5 - 6</td>
        <td class="sched">5 - 6</td>
        <td class="custtotal">6.00</td>
      </tr>
      <tr>
        <td class="cust">TNB Germantown O.</td>
        <td class="sched">6 - 8:30</td>
        <td class="sched">6 - 8:30</td>
        <td class="sched">6 - 8:30</td>
        <td class="sched">6 - 8:30</td>
        <td class="sched">6 - 8:30</td>
        <td class="sched"></td>
        <td class="custtotal">12.50</td>
      </tr>
      <tr>
        <td class="cust">TNB Whitehaven</td>
        <td class="sched">8:30 - 10</td>
        <td class="sched">8:30 - 10</td>
        <td class="sched">8:30 - 10</td>
        <td class="sched transfer">8:30 - 10</br>Kirby Woods</td>
        <td class="sched transfer">8:30 - 10</br>Kirby Woods</td>
        <td class="sched"></td>
        <td class="custtotal">6.25</td>
      </tr>
        
      <tr class="newemp"> <!-- New employee -->
        <td class="addsched outside" rowspan=6></td>
        <td class="name" rowspan=6>Andrew Antonyk</td>
        <td class="cust">FTB Bartlett</td>
        <td class="sched dayportera">4 - 5:30</td>
        <td class="sched"></td>
        <td class="sched dayportera">4 - 5:30</td>
        <td class="sched"></td>
        <td class="sched dayportera">4 - 5:30</td>
        <td class="sched"></td>
        <td class="custtotal">4.50</td>
        <td class="emptotal" rowspan=6>25.25</td>
        <td class="outside overlimit" rowspan=6></td>
      </tr>
      <tr>
        <td class="cust">FTB Bartlett Main</td>
        <td class="sched dayportera">5:30 - 7</td>
        <td class="sched"></td>
        <td class="sched dayportera">5:30 - 7</td>
        <td class="sched"></td>
        <td class="sched dayportera">5:30 - 7</td>
        <td class="sched"></td>
        <td class="custtotal">7.50</td>
      </tr>
      <tr>
        <td class="cust">FTB Berclair</td>
        <td class="sched">7 - 8:15</td>
        <td class="sched"></td>
        <td class="sched">7 - 8:15</td>
        <td class="sched"></td>
        <td class="sched">7 - 8:15</td>
        <td class="sched"></td>
        <td class="custtotal">3.75</td>
      </tr>
      <tr>
        <td class="cust">FTB Hollywood & J.</td>
        <td class="sched"></td>
        <td class="sched overlap">4 - 6</td>
        <td class="sched"></td>
        <td class="sched overlap">4 - 6</td>
        <td class="sched"></td>
        <td class="sched projspec">4 - 4:30</td>
        <td class="custtotal">4.00</td>
      </tr>
      <tr>
        <td class="cust">FTB Hollywood & J.</td>
        <td class="sched"></td>
        <td class="sched overlap">5 - 5:45</td>
        <td class="sched"></td>
        <td class="sched overlap">5 - 5:45</td>
        <td class="sched"></td>
        <td class="sched projspec">4:30 - 5:45</td>
        <td class="custtotal">2.50</td>
      </tr>
      <tr>
        <td class="cust">FTB Watkins Frayser</td>
        <td class="sched"></td>
        <td class="sched overlap">5:45 - 7:15</td>
        <td class="sched"></td>
        <td class="sched overlap">5:45 - 7:15</td>
        <td class="sched"></td>
        <td class="sched"></td>
        <td class="custtotal">3.00</td>
      </tr>
      
      <tr> <!-- Overlapping schedules notifications -->
        <td class="outside"></td>
        <td class="outside"></td>
        <td class="outside"></td>
        <td class="outside"></td>
        <td class="outside overlap">Overlapping</br>Schedules!</td>
        <td class="outside"></td>
        <td class="outside overlap">Overlapping</br>Schedules!</td>
        <td class="outside"></td>
        <td class="outside"></td>
        <td class="outside"></td>
        <td class="outside"></td>
        <td class="outside"></td>
      </tr>
        
      <tr> <!-- Legend -->
        <td class="outside name" rowspan=8></td>
        <td class="outside name"><h2>Legend</h2></td>
        <td class="outside name" rowspan=8></td>
        <td class="outside name" rowspan=8></td>
        <td class="outside name" rowspan=8></td>
        <td class="outside name" rowspan=8></td>
        <td class="outside name" rowspan=8></td>
        <td class="outside name" rowspan=8></td>
        <td class="outside name" rowspan=8></td>
        <td class="outside name" rowspan=8></td>
        <td class="outside name" rowspan=8></td>
        <td class="outside name" rowspan=8></td>
      </tr>
      <tr><td class="name">Housekeeping</td></tr>
      <tr><td class="transfer name">Customer Transfer</td></tr>
      <tr><td class="dayportera name">Day Porter A</td></tr>
      <tr><td class="dayporterb name">Day Porter B</td></tr>
      <tr><td class="projspec name">Project Specialist</td></tr>
      <tr><td class="overlap name">Overlapping Schedules</td></tr>
      <tr><td class="overlimit name">Over 29 hrs/wk</td></tr>
    </tbody>
  </table>

  <br>
  <div id="progress-status"></div>
  <div id="progress-bar"><div id="progress-label"></div></div>
</div>  

<!-- Scripts -->
<script>

  // Init progress bar
  var progressbar = $( "#progress-bar" );
  var progressLabel = $( "#progress-label" );
  
  progressbar.progressbar({
    value: 0,
    change: function() {
      progressLabel.text( progressbar.progressbar( "value" ) + "%" );
    },
    complete: function() {
      progressLabel.text( "Complete!" );
    }
  });

  // function poll()
  // {
  //   $.get('progress', function(data) {

  //     // If job completed
  //     if (data === true)
  //     {
  //       // Show results
  //       window.location = "finish";
  //     }
  //     else if (data.status)
  //     {
  //       // Show status
  //       $('#progress-status').text(data.status)
  //       $('#progress-bar').progressbar('value', parseInt(data.progress)); 

  //       // If job processing
  //       if (data.status != '')
  //       {
  //         // Show spinner and check status again in 2 seconds
  //         $('#spinner').show();
  //         setTimeout(poll, 2000);
  //       }
  //     }
  //   });
  // }

  // // Attach a submit handler to the form
  // $( "#create-export" ).submit(function( event ) {
   
  //   // Stop form from submitting normally
  //   event.preventDefault();

  //   // Show the spinner
  //   $('#spinner').show();

  //   // Get form inputs
  //   var payPeriod = $(this).find("input[name='payperiod']" ).val();

  //   // Send inputs and run the export
  //   $.get('create_export', { payperiod: payPeriod } );

  //   // Poll for status
  //   setTimeout(poll, 2000);

  // });

  // // Poll for status 
  // // on page load
  // poll();

  $.get('load_emps');

</script>
