<div class="plugin-visualizer">

  <!-- Header -->
  <h3>Visualizer Interface to AoD</h3> 
  <% if current_user.customer_admin? %>
    <%= link_to "Settings", plugin_visualizer_settings_path, class: "settings-btn" %>
  <% end %>
  
  <!-- Content -->
  <br>
  <%= link_to "Save to File", { action: "download_report" }, class: "button" %>
  <br>
  <textarea class="output">
    <%= h(session[:schedfile].to_s) %>
  </textarea>

</div>

