// Place all the styles related to the PluginServiceMaster controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.plugin-service-master {

  select {
    width: 150px; }

  input {
    width: 150px; }

  input[type="checkbox"] {
    width: auto; }
  
  .settings-btn {
    @extend .button;
    margin-top: -5px;
    float: right; 
    width: 100px; }

  .entry {
    margin-bottom: 10px; }

  label, .label {
    display: inline-block;
    height: 22px;
    width: 100px; }

  .output {
    margin: 20px 0 60px 0; 
    height: 500px; 
    width: 580px; }

  #payCodeMappings_length {
    float: none;
    width: 100%; }  

  .save-button {
    @extend .button;
    width: 140px; }

  .left-group {
    float: left; }

  .right-group {
    float: right;
    margin: 0 10px 0 0; }

}