// Place all the styles related to the PluginBambooHR controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.plugin-bamboo-hr {

  #lastrun {
    margin: 0 0 20px 10px;
    width: 100px; }

  #messages {
    margin-top: 6px;
    padding: 10px;
    border: solid 1px #333;
    border-radius: 6px;
    background: #eee;
  }

  .message-line {
    line-height: 24px;
  }
}