// Place all the styles related to the PluginSnohomish controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.plugin-snohomish {

  select {
    width: 150px; }

  input[type="checkbox"] {
    width: auto; }

  .date-picker {
    width: 150px; }
  
  .settings-btn {
    @extend .button;
    margin-top: -5px;
    float: right; 
    width: 100px; }

  .entry {
    margin-bottom: 10px; }

  label, .label {
    display: inline-block;
    height: 22px;
    width: 100px; }

  .save-button {
    @extend .button;
    width: 140px; }

  .left-group {
    float: left; }

  .right-group {
    float: right;
    margin: 0 10px 0 0; }

}