// Place all the styles related to the PluginServiceMaster controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.plugin-service-master {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;

  select {
    line-height: 28px;
    height: 28px;
    font-size: 12px; 
  }

  header {
    line-height: 60px;
    width: 820px;

    a { @extend .button-set } 
  }

  #links {
    position: absolute;
    top: 0;
    right: 0;
    line-height: 60px;
    z-index: 1;

    a { @extend .button-set; } 

    #expand-btn {
      margin-right: -2px;
    }

    #links-expand {
      display: inline-block;
      width: 396px;
      overflow: hidden;
      white-space: nowrap;
      vertical-align: bottom;
    }

    #home-btn {
      margin-left: -7px;
      margin-right: -2px;
    }
  }

  .daterange { 
    display: inline-block; 
    margin-left: 14px;
    width: 100px; }

  #delete-team-btn,
  #delete-pattern-btn {
    display: inline-block;
  }

  #save-pattern-btn,
  #save-team-btn {
    display: inline-block;
    margin-left: 8px;
    width: 170px;
  }

  #team-name,
  #customer-name,
  #emp-name {
    margin-top: 15px;
    white-space: nowrap;
  }

  .list-label {
    display: inline-block;
    width: 70px;
  }

  #team-list,
  #customer-list,
  #employee-list {
    margin-bottom: 20px;
  }

  #team-wrapper,
  #pattern-wrapper,
  #emp-wrapper {
    float: left;
    margin: 0 20px 20px 0;

    label, input[type="text"] { 
      display: block; 
    } 

    table {
      width: 560px;
    }
  }

  #emp-wrapper {
    label { 
      min-width: 60px;
      line-height: 20px; 
    }

    #customers-assigned {
      margin: 0 0 8px 12px;
      label { display: block; font-size: 14px; }
    }
    
    #cust-scroll-box {
      height: 360px;
      overflow: scroll;
      border: solid 1px #999;
      .checkbox-wrapper { 
        line-height: 20px; 
        width: 320px; 
        label { width: 290px; }
        &:hover {
          font-weight: bold; 
        }
      }  
    } 
  }

  #create-pattern-btn,
  #assign-btn {
    width: 100%;
  }

  .emp-pattern {
    height: 24px;
    border: solid 1px #aaa;
    padding: 4px;
    background: #e9e9e9;
    margin-bottom: -1px;
  }

  .delete-emp-pattern {
    @extend .submit-btn;
    text-align: left;
    margin-bottom: -1px;
    padding: 4px;
    border-radius: 0px;
    top: -4px;
    right: -4px;
    float: right;
    width: 24px;
    height: 22px;
  }

  #schedules-page {
    overflow: visible;
    white-space: nowrap;

    #main-table {
    }

    #expand-btn {
      margin-right: -5px; }
    #home-btn {
      margin-left: 0px; }
    #links-expand {
      width: 0px; }

    #cust-filter-wrap {
      position: absolute;
      top: 0;
      right: 120px;
    }

    #team-filter-wrap {
      position: absolute;
      top: 0;
      right: 444px;
    }
  
    #export-scheds-form {
      float: left;
      margin: 12px 0 0 220px;

      input[type="checkbox"] {
        margin-left: 8px;
      }
    } 
   
    #gen-scheds-form {
      float: left;
      margin: 12px 0 0 12px;

      input[type="checkbox"] {
        margin-left: 8px;
      }

      .date-picker {
        margin-top: 2px;
        height: 20px;
        width: 90px;
      }
    }
  }

  table { 
    border-collapse: collapse;
    cursor: default;
  }

  th {
    background: #084B8A;
    color: white;
    font-weight: normal;
  }

  th, td {
    margin: 0px;
    min-width: 69px;
    text-align: center;
    border: solid 1px #333;
  }

  th.name, th.cust, th.team, 
  td.name, td.cust, td.team { 
    padding: 4px; 
    height: 36px;
    width: 124px; 
    max-width: 124px; 
    vertical-align: middle; 
    text-align: left; 
    overflow: hidden;
    white-space: nowrap;
  }

  th.team,
  td.team {
    width: 90px;
    min-width: 90px;
    max-width: 90px;
  }

  tr.even { 
    background: #fff; 
  }
  
  table.custweek,
  table.teamweek {
    margin: -1px;
  }

  th.sched,
  td.sched { 
    @extend td.team;
    width: 72px; 
    max-width: 72px;
    text-align: center;
  }

  td.sched {
    cursor: pointer;

    &:hover {
      background: #d6d6d6; 
    }
  }
  
  td.custtotal { 
    width: 60px; 
    vertical-align: middle; 
  }
  
  td.emptotal { 
    width: 60px; 
    vertical-align: middle; 
  }

  td.overlimit { color: red; }
  td.transfer { font-style: italic; }
  td.projectwork { background: #BAD2FF; 
    &:hover     { background: #94B5F3; } }
  td.housekeeping { background: #CAF0A7; 
    &:hover     { background: #A6D67A; } }
  td.daycleaning { background: #FFDEB9; 
    &:hover     { background: #EBBF8F; } }
  td.supervision { background: #E0BAFD; 
    &:hover     { background: #C294E5; } }
  td.overlap   { font-weight: bold; color: #FF9420; }
  td.flattened {
    padding: 0;
    border-bottom: solid 1px transparent;
  }
  th.outside, td.outside {
    background: $site-bg;
    border: 0;
    vertical-align: middle;
  }

  .idnum { 
    color: #777; 
    font-size: 10px; 
  }

  #legend {
    float: left;
    margin: 24px 0;
    height: 300px;
    width: 200px;

    td {
      padding: 4px;
    }
  }

  #sched-popup {
    @extend .login;
    position: absolute;
    display: none;
    width: 200px;
    z-index: 10;

    @include box-shadow(0 0 12px 2px rgba(#666,1), 0 2px 2px rgba(#666,.6), inset 0 1px 1px rgba(#fff,1));

    label {
      display: block;
    }
    
    input, select { 
      width: 160px; 
    }
    
    #save-sched-btn { 
      display: inline-block;
      float: right;
      padding: 7px 6px;
      width: 84px; 
    }

    #close-sched-btn { 
      display: inline-block;
      float: left; 
      padding: 7px 6px;
      width: 64px; 
    }

    #copy-sched-btn { 
      display: inline-block;
      float: right; 
      padding: 3px 2px;
      width: 84px; 
    }

    #delete-sched-btn { 
      display: inline-block;
      float: left; 
      padding: 3px 2px;
      width: 64px; 
    }
  }

  #progress-bar-wrapper {
    float: left;
    margin: 0 0 0 220px;

    #progress-bar { 
      width: 380px; }
  }

  #spinner-container {
    position: relative;
    top: 180px;
    left: 363px;
  }

  #aod-settings {

    #progress-bar-wrapper {
      margin: 20px 0;
    }

    #spinner-container {
      margin: 0;
      top: 64px;
      left: 441px; 
    }
  }

}