body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background: #efefef;

  * {
    position: relative;
    box-sizing: border-box; } }

p {
  margin: 10px 0;
  line-height: 20px; }

a {
  color: #03a;
  text-decoration: none; }

h1 {
  display: inline-block;
  margin-bottom: 20px;
  font-size: 36px; }

h2 {
  display: inline-block;
  margin-bottom: 20px;
  font-size: 28px; }

h3 {
  display: inline-block;
  margin-bottom: 16px;
  font-size: 22px; }

h4 {
  display: inline-block;
  margin-bottom: 10px;
  font-size: 18px; }

h5 {
  display: inline-block;
  font-size: 16px; }

h6 {
  display: inline-block;
  font-size: 14px; }

i {
  font-size: 12px;
  color: #666; }

.flash {
  position: absolute;
  left: 240px;
  top: 72px;
  width: 600px;
  padding: 8px;
  text-align: center;
  background: #ffc4ba;
  border: 1px solid #ff817b;
  @include border-radius(2px); 
  z-index: 90; }

#flash_alert {
  @extend .flash;
  background: #ffc4ba;
  border: 1px solid #ff817b; }

#flash_notice {
  @extend .flash;
  background: #fff1ba;
  border: 1px solid #e9b36d; }

#flash_timedout {
  display: none; } // eliminates 'true' msg under flash on session expire

#spinner-container {
  position: absolute;
  top: 14px;
  left: 420px;
  height: 5px;
  width: 5px; }

#spinner {
  display: none; }

.shrink-wrap {
  display: block;
  margin: 0 auto; }

#content {
  margin: 119px 0 50px 240px; 
  padding:  0 20px; 
  width: 600px; }

.wrapper {
  margin-left: 240px;
  padding:  0 20px; }

.button {
  display: inline-block;
  padding: 10px 14px;
  border-radius: 2px;
  text-align: center;
  font-family: arial;
  font-size: 14px;
  color: #000;
  cursor: default; 
  background: #f3f3f3;
  @include filter-gradient(#fff, #c2c2c2, vertical);
  @include background-image(linear-gradient(#fff, #c2c2c2));
  @include box-shadow(0 0 0 1px rgba(#666,1), 0 2px 2px rgba(#666,.6), inset 0 1px 1px rgba(#fff,1));
  transition: all .4s ease;

    &:hover, &:focus, &:active {
      background: #ddd; } }

.disabled-button {
  @extend .button;
  color: #999;

    &:hover, &:focus, &:active {
    background: #f3f3f3; } }

.button-set {
  margin-right: -3px;
  padding: 10px 14px;
  font-family: arial;
  font-size: 13px;
  color: #333;
  background: #f3f3f3;
  @include filter-gradient(#fff, #c2c2c2, vertical);
  @include background-image(linear-gradient(#fff, #c2c2c2));
  @include box-shadow(0 0 0 1px rgba(#666,1), 0 2px 2px rgba(#666,.6), inset 0 1px 1px rgba(#fff,1));
  transition: all .4s ease;

  &:first-child {
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px; }

  &:last-child {
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px; }

  &:hover{
    background: #ddd; } }

#plugin-content {
  width: 580px; }

#progress-bar {
  width: 400px;
  height: 25px;
  -moz-box-sizing: content-box;
       box-sizing: content-box;

  * {
    -moz-box-sizing: content-box;
         box-sizing: content-box; }

  .ui-progressbar-value {
    background: #282;
    @include filter-gradient(#2f2, #282, vertical);
    @include background-image(linear-gradient(#2f2, #282));  } 

  #progress-label {
    position: absolute;
    top: 6px;
    left: 0;
    right: 0;
    height: 14px;
    text-align: center;
    font-size: 14px;
    text-shadow: 0 0 5px #fff; 
    z-index: 1; }
}

#progress-status {
  display: inline-block;
  height: 24px;
}

.left  { float: left }
.right { float: right }
